body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #dda482;
    background-image: url("imagenes/lepere fondo claro.png");
}

.tit_div {
    background-color: #e4633c94;
    width: fit-content;
    margin: 20px auto; /* esto centra horizontalmente */
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    color: #f3ceb9;
    background: linear-gradient(
    to right,
    rgba(228,99,60,0)      0%,
    rgba(255, 123, 46, 0.58)  50%,
    rgba(228,99,60,0)    100%)
    
}
.navmenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e4633c94;
    padding: 15px;
    border-radius: 20px;
}
.marca {
    display: flex;
    align-items: center;
}


.logo {
    background-color: #742b19cc;
    border-radius: 50%;
}
.title {
    align-content: center;
    
    border-radius: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #d3785c94;
    display: flex;
    justify-content: space-between;

}
.title h2 {
    background-color: #e4633c94;
    color: #e7c1b7;
    margin: 30px;
    border-radius: 15px;
    padding: 10px 20px;
}

.menu {
    display: flex;
    gap: 25px;
    background-color: #b95419e0;
    padding: 15px;
    border-radius: 15px;
    list-style-type: none;
    margin-inline-end: 15px;
}

.menu li {
  position: relative;
}

.menu a {
    color: #fccdb1;
    padding: 10PX;
    display: block;
    text-decoration: none;
    font-size:large;
    font-weight: bold;
}

.submenu {
    position: absolute;
    top: 100%;
    left: 0px;
    background-color: #a34f1f;
    border-radius: 10px;
    list-style-type: none;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    pointer-events: none;
    transition: max-height 0.4s ease, opacity 0.4s ease;
    padding: 5px;
}
.despl:hover .submenu {
    display: block;
    max-height: 500px;
    opacity: 1;
    pointer-events: auto;
}

.menu a:hover, .submenu a:hover {
    background: linear-gradient(
    to right,
    rgba(228,99,60,0)      0%,
    rgba(255, 159, 104, 0.58)  50%,
    rgba(228,99,60,0)    100%
  );
    background-color: #c94f2a;
    border-radius: 15px;
    color: white;
}

.img1, .img2, .img3 {
    border-radius: 20px;
}

.carousel {
  width: 300px;      /* ajusta el ancho a las im치genes */
  overflow: hidden;
  position: relative;
}

.carousel-track {
  display: flex;
  width: calc(300px * 3); /* 3 im치genes de 300px cada una */
  animation: slide 15s infinite;
}

.carousel img {
  width: 300px;
  flex-shrink: 0;
}

/* Animaci칩n de desplazamiento autom치tico */
@keyframes slide {
  0%, 20%  { transform: translateX(0); }
  33%, 53% { transform: translateX(-100%); }
  66%, 86% { transform: translateX(-200%); }
  100%     { transform: translateX(0); }
}




.footeerdiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; 
    background-color: #9c2f11b4;
    padding: 15px 5px;
    border-radius: 20px;
}

.ftrwp, .ftrfb, .ftrcorreo {
    display: flex;
    align-items: center;
    background-color: #db611ac9;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
    flex: 1 1 200px;
    
}
.footerlink {
    background-color: #8b310dc0;
    padding: 5px;
    border-radius: 5px;
    color: #dda482;
}
.ftrwp a, .ftrfb a, .ftrcorreo a,
.ftrwp h4, .ftrfb h4, .ftrcorreo h4 {
    padding: 0px 7px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;

}
.ftrcopy {
    width: 100%;
    text-align: center;
    color: #4b1905;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bolder;
}